
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-sarif;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: #0000FF;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
}

#block-atrium_intranet-help {
  display: none;
}

#block-views-atrium_groups-block_1 {
  display: none;
}

#block-atrium_intranet-account {
  display: none;
}

#skip-to-nav {
  display: none;
}

#header {
  background-color: #003366;
  padding-left: 30px;
  padding-right: 30px;
}

#primary ul.links {
  margin-top: 8px;
}

#primary ul.links li {
  padding: 0;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 4px;
  background-color: #1A4F85;
}

#primary ul.links li.active {
  background-color: #E5E5E5;
}

#primary ul.links li a {
  color: #FFFFFF;
  font-size: small;
}

#primary ul.links li.active a {
  color: #009900;
  font-weight: bold;
}

#site-name a {
  color: #FFCC00 !important;
  margin-top: 7px;
  font-size: 24px;
  font-weight: normal;
}

#navbar {
  float: left;
  background-color: #003366;
  padding-left: 30px;
  padding-right: 30px;
  height: 32px;
}

#primary {
  margin-left: 0px;
}

#search-box {
  float: right;
  padding-right: 45px;
  margin-right: 0;
  height: 45px;
  overflow: hidden;
  padding-top: 0;
  margin-top: -18px;
}

#content {
  margin-left: -30px;
  margin-right: 30px;
  background-color: #FFFFFF;
  width: 65%;
  float: left;
  margin-top: 55px !important;
  min-height: 300px;
}

h1.title {
  background-color: #EDF3FE;
  font-size: 14px;
  padding: 13px 30px 13px 24px;
}

div.block-inner h2.title {
  background-color: #E9E9E9;
  font-size: 12px;
  padding: 5px;
}

div.view-display-id-block_2 h2.title {
  background-color: #FFFFFF;
}

div.tabs {
  float: right;
  font-size: 12px;
  margin-top: -35px;
  margin-right: 24px;
}

ul.primary
{
  background: none;
}

ul.primary li a
{
  background: none;
}

ul.primary li a .tab
{
  background: none;
}

ul.primary li a:hover
{
  background: none;
}

ul.primary li a:hover .tab
{
  background: none;
}

ul.primary li.active a,
ul.primary li.active a:hover
{
  background: none;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab
{
  background: none;
}

div.help {
  display: none;
}

#content-inner {
  padding-right: 0px !important;
}

#content-area {
  padding: 13px 30px 13px 24px;
}

div.breadcrumb {
  font-size: small;
  margin-left: 24px;
}

div.block {
  margin-top: 15px;
  font-size: 12px;
}

#sidebar-right-inner div.block:first-child, #content-area div.block:first-child {
  margin-top: 0px;
}

#block-views-atrium_blog-block_2 div.meta, #block-views-atrium_blog-block_2 div.content, #block-views-atrium_profile-block_1 div.content {
  margin-left: 5px;
}

div.view-atrium-blog div.node-inner h2.title {
  background-color: transparent;
}

#block-views-atrium_dashboard-block_1 table caption {
  text-align: left;
  color: #666666;
  font-size: 9px;
  text-transform: uppercase;
  text-decoration: underline;
}

#block-views-atrium_dashboard-block_1 td.views-field-group-nid, #block-views-atrium_dashboard-block_1 td.views-field-group-nid a {
  width: 50px;
}

#block-views-atrium_dashboard-block_1 td.views-field-feature {
  display: none;
}

#block-views-atrium_dashboard-block_1 td.views-field-last-updated {
  width: 75px;
  padding-left: 8px;
}

#block-views-atrium_dashboard-block_1 td.views-field-title a {
  color: #0000FF;
}

#block-views-atrium_dashboard-block_1 td.views-field-last-comment-name {
  width: 80px;
}

#block-views-atrium_dashboard-block_1 td.views-field-last-comment-name a {
  color: #0000FF;
}

div.view-atrium-dashboard table caption {
  text-align: left;
  color: #666666;
  font-size: 9px;div.view-atrium-dashboard
  text-transform: uppercase;
  text-decoration: underline;
}

div.view-atrium-dashboard td.views-field-group-nid, div.view-atrium-dashboard td.views-field-group-nid a {
  width: 50px;
}

div.view-atrium-dashboard td.views-field-feature {
  display: none;
}

div.view-atrium-dashboard td.views-field-last-updated {
  width: 75px;
  padding-left: 8px;
}

div.view-atrium-dashboard td.views-field-title a {
  color: #0000FF;
}

div.view-atrium-dashboard td.views-field-last-comment-name {
  width: 80px;
}

div.view-atrium-dashboard td.views-field-last-comment-name a {
  color: #0000FF;
}

div.view-display-id-page_1 table {
  width: 100%;
}

tr.odd, tr.even {
  background-color: #FFFFFF;
}

div.view-atrium-blog {
  font-size: 12px;
}

div.view-atrium-blog h2.title {
  background-color: #E9E9E9;
  font-size: 12px;
  padding: 5px;
}

div.node {
  font-size: 12px;
}

#comments {
  margin-top: 50px;
}

#comments-title {
  background-color: #E9E9E9;
  font-size: 12px;
  padding: 5px;
}

#comments div.box {
  width: 300px;
  float: right;
  border: 1px solid #E5E5E5;
  padding: 5px;
  margin-top: -110px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
}

#comments #edit-subject {
  width: 290px;
}

div.comment-inner {
  font-size: 12px;
  border-bottom: 1px solid #E5E5E5;
}

#sidebar-right {
  margin-top: 55px !important;
  margin-right: 30px;
  width: 25%;
  float: right;
  background-color: transparent;
  padding: 0px 0px 10px 10px;
}

#sidebar-right h2 {
  background-color: #EDF3FE;
}

#sidebar-right-inner {
  margin: 0;
}

#block-views-atrium_blog_comments-block_1 div.views-field-comment {
  float: right;
  margin-top: -1.5em;
}

#footer {
  padding-left: 30px;
  padding-right: 30px;
}

#footer-message {
  color: #999999;
  font-size: 9px;
}

#footer-message a {
  color: #999999;
}



/* Front page login screen */
body.not-logged-in div.breadcrumb {
  display: none;
}

body.not-logged-in #main {
  width: 475px;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}

body.not-logged-in input.form-text {
  width: 100%;
}

body.not-logged-in #content {
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  width: 100%;
}

body.not-logged-in #footer {
  width: 30%;
  margin: 0 auto;
}
